.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                              not supported by any browser */
}

.Setting-dinner{
  position: relative;
  width: 450px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.def-normal-str .def-label{
  display: inline-block;
  width: 30%;
  margin-bottom: 5px;
}

.multiselect {
  margin-top: 5px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.AnyResult{
  position: fixed;
  width: 900px;
  height: auto;
  top: 10px;
  left: 500px;
  border: 1px solid black;
  margin-right: 10px;
  padding: 10px;
}

.TableResult{
  width: 100%;
  border-collapse: collapse;
  /*border: 1px solid black;*/
  text-align: center;
}

.TableResult tr:hover{
  background-color:#f5f5f5;
}

.TableResult th, td {
  border: 1px solid #ddd;
}

.TableResult th {
  background-color: #4CAF50;
  color: white;
}
